{% extends 'ka_main/admin/base.html' %}
{% load static %}

{% block title %}
Admin - Login
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="forty">Welcome to Kamrul Academy admin panel!</h1>
        <h3 class="thirty">Please provide your company credentials!</h3>
        <form action="">
            <input type="text" name="username" id="inputfield" class="inputfield">
            <input type="password" name="password" id="inputfield" class="inputfield">
            <input type="submit" value="Log In" id="submit-btn" class="inputfield">
        </form>
        <p class="regular fourteen" style="text-align: center;">New employee? <a href="{% url 'admin-sign-in' %}" class="orange">Join</a> this company</p>
    </div>
{% endblock %}