{% extends 'ka_main/admin/base.html' %}
{% load static %}

{% block title %}
Admin - Join
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="thirty">Please provide your personal information!</h3>
        <form action="">
            <input type="text" name="fullname" id="inputfield" class="inputfield" placeholder="Full Name">
            <input type="email" name="email" id="inputfield" class="inputfield" placeholder="Enter your email">
            <input type="text" name="nid" id="" class="inputfield" placeholder="Enter NID number">
            <select name="position" id="" class="inputfield">
                <option value="none">--- Select position ---</option>
                <option value="HR">Human Resource Manager</option>
                <option value="dev">Developer</option>
                <option value="mentor">Teacher / Mentor</option>
                <option value="seo">Marketing / SEO</option>
            </select>
            <input type="file" alt="" class="inputfield" placeholder="Upload Image">
            <div class="phonenumberinput">
                <select name="country" id="">
                    <option value="bd">+88</option>
                </select>
                <input type="text" name="phone" id="" class="phoneinput" placeholder="Example : 01635817747">
            </div>
            <input type="text" name="password" id="password" class="inputfield" placeholder="Strong password (min-length : 6)">
            <div class="power-container"> 
                <div id="power-point"></div> 
            </div>
            <input type="submit" value="Log In" id="submit-btn" class="inputfield">
        </form>
        <p class="regular fourteen" style="text-align: center;">Already an employee? <a href="{% url 'admin-log-in' %}" class="orange">Log In</a> here ...</p>
    </div>

    <script>
        let password = document.getElementById("password"); 
        let power = document.getElementById("power-point"); 
        password.oninput = function () { 
            let point = 0; 
            let value = password.value; 
            let widthPower =  
                ["1%", "25%", "50%", "75%", "100%"]; 
            let colorPower =  
                ["#D73F40", "#DC6551", "#F2B84F", "#BDE952", "#3ba62f"]; 
        
            if (value.length >= 6) { 
                let arrayTest =  
                    [/[0-9]/, /[a-z]/, /[A-Z]/, /[^0-9a-zA-Z]/]; 
                arrayTest.forEach((item) => { 
                    if (item.test(value)) { 
                        point += 1; 
                    } 
                }); 
            } 
            power.style.width = widthPower[point]; 
            power.style.backgroundColor = colorPower[point]; 
        };
    </script>
{% endblock %}