asgiref
certifi
channels
charset-normalizer
Django
djangorestframework
gunicorn
idna
packaging
pillow
psycopg2-binary
python-decouple
requests
sqlparse
ua-parser
ua-parser-builtins
urllib3
user-agents