<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 
    <link rel="stylesheet" href="{% static 'css/recorded.css' %}">
</head>
<body>
    {% include 'ka_main/navbar.html' %}
    {% block body %}
    {% endblock %}
    {% include 'ka_main/footer.html' %}

    <script src="{% static 'js/rscript.js' %}"></script>

</body>
</html>
