{% extends 'ka_main/recorded/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="rc">
        <div class="title">
            <a href="{% url 'recordedcourse' pk=course.id %}"><img src="{% static 'images/icons/goback.png' %}" alt=""></a>
            <a href="{% url 'recordedcourse' pk=course.id %}"><h4 class="small">কোর্স</h4></a>
            <h4 class="small">।</h4>
            <h4 class="small">{{ module.module_name }}</h4>
        </div>
        <div class="classcontainer">
            <div class="linkcontainer">
                <a href="{% url 'rclass' pk=course.id pk2=prev_pk2 %}"><img src="{% static 'images/icons/goback2.png' %}" alt=""><span class="bn-bold tiny">পূর্ববর্তী</span></a>
                {% if module.class_one_valid %}
                <a onclick="PlayModuleVideo('one')"><img src="{% static 'images/icons/videoplay.png' %}" alt=""><span class="bn-bold tiny">ভিডিও</span></a>
                {% endif %}
                {% if module.class_two_valid %}
                <a onclick="PlayModuleVideo('two')"><img src="{% static 'images/icons/videoplay.png' %}" alt=""><span class="bn-bold tiny">ভিডিও</span></a>
                {% endif %}
                {% if module.class_three_valid %}
                <a onclick="PlayModuleVideo('three')"><img src="{% static 'images/icons/videoplay.png' %}" alt=""><span class="bn-bold tiny">ভিডিও</span></a>
                {% endif %}
                {% if module.class_four_valid %}
                <a onclick="PlayModuleVideo('four')"><img src="{% static 'images/icons/videoplay.png' %}" alt=""><span class="bn-bold tiny">ভিডিও</span></a>
                {% endif %}
                {% if module.class_five_valid %}
                <a onclick="PlayModuleVideo('five')"><img src="{% static 'images/icons/videoplay.png' %}" alt=""><span class="bn-bold tiny">ভিডিও</span></a>
                {% endif %}
                <a href="{% url 'rassignment' pk=course.id pk2=this_pk2 %}"><img src="{% static 'images/icons/assignment.png' %}" alt=""><span class="bn-bold tiny">এসাইনমেন্ট</span></a>
                <a href="{% url 'rquiz' pk=course.id pk2=this_pk2 %}"><img src="{% static 'images/icons/quiz2.png' %}" alt=""><span class="bn-bold tiny">কুইজ</span></a>
                <a href="{% url 'rclass' pk=course.id pk2=next_pk2 %}"><span class="bn-bold tiny">পরবর্তী</span><img src="{% static 'images/icons/next.png' %}" alt=""></a>
            </div>



            <div class="quizcontainer">
                <p class="extra-tiny bn-regular">আপনার অর্জন {{ score }}</p>
                <form action="{% url 'rclass' pk=course.id pk2=next_pk2 %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for ques in questions %}
                    <h4>{{ ques.serial_text }}</h4>
                    <h4>{{ ques.text|safe }}</h4>
                    <div class="answer"><input type="radio" name="{{ ques.serial }}" id="" class="quizinput" value="1"><span class="bn-bold tiny">{{ ques.answer1|safe }}</span></div>
                    <div class="answer"><input type="radio" name="{{ ques.serial }}" id="" class="quizinput" value="2"><span class="bn-bold tiny">{{ ques.answer2|safe }}</span></div>
                    <div class="answer"><input type="radio" name="{{ ques.serial }}" id="" class="quizinput" value="3"><span class="bn-bold tiny">{{ ques.answer3|safe }}</span></div>
                    <div class="answer"><input type="radio" name="{{ ques.serial }}" id="" class="quizinput" value="4"><span class="bn-bold tiny">{{ ques.answer4|safe }}</span></div>
                    <p class="extra-tiny bn-regular">* সর্বোচ্চ একবার উত্তর দিতে পারবেন</p>
                    {% endfor %}
                    <input type="submit" value="Submit Answer" id="submit-btn" class="inputfield">
                </form>
            </div>


            

        </div>
    </div>
</div>
{% endblock %}