{% extends 'ka_main/base.html' %}
{% load static %}

{% block title %}
About Us!
{% endblock title %}

{% block body %}
<div class="about-mission-vision">
    <div class="container">
        <div class="mission">
            <span class="bn-bold standard">আমাদের মিশন</span>
            <span class="bn-regular tiny">সহজলভ্যতা এবং আকর্ষণীয় অনলাইন শিক্ষার মাধ্যমে দক্ষ মানব সম্পদ গড়ে তোলা, একটি সমৃদ্ধ বিশ্ব সম্প্রদায় তৈরির জন্য মানুষকে বৈচিত্র্যপূর্ণ জ্ঞান ও দক্ষতা বিকাশে উৎসাহিত করা। সকলের জন্য মানসম্পন্ন শিক্ষা নিশ্চিত করা, একাডেমিক ও প্রায়োগিক দক্ষতা দুটোই শেখানোর মাধ্যমে মানুষকে তাদের সম্পূর্ণ দক্ষতা অর্জনে সাহায্য করা। বিশেষজ্ঞ প্রশিক্ষকদের মাধ্যমে একটি বিশ্বমানের শিক্ষার পরিবেশ গড়ে তোলা, জ্ঞান অন্বেষণে উৎসাহিত করা এবং দক্ষ ব্যাক্তিবর্গ দ্বারা পরবর্তী প্রজন্মকে লালনপালন করা</span>
        </div>
        <div class="mission">
            <span class="bn-bold standard">আমাদের ভিশন</span>
            <span class="bn-regular tiny">বিশ্বের শীর্ষস্থানীয় অনলাইন শিক্ষা প্ল্যাটফর্ম হিসাবে নিজেদের প্রতিষ্ঠিত করা, উৎকর্ষ ও উদ্ভাবনের প্রতি আমাদের প্রতিশ্রুতির জন্য স্বীকৃত হওয়া এবং সকলের জন্য সাফল্যের সরঞ্জাম সরবরাহ করে ভবিষ্যৎ গড়ে তোলা। আমরা জ্ঞান ও দক্ষতায় সজ্জিত যোগ্য ব্যক্তিদের একটি বিশ্বব্যাপী নেটওয়ার্ক তৈরি করব, যারা একটি উজ্জ্বল ও সুন্দর বিশ্ব তৈরীতে অর্থপূর্ণ অবদান রাখতে প্রস্তুত। আমরা শিক্ষাকে জীবনব্যাপী অনুসন্ধান ও বিকাশের একটি যাত্রা হিসাবে কল্পনা করি, যা মানুষের আবেগ ও দক্ষতা দ্বারা পরিচালিত হবে</span>
        </div>
    </div>
    <div class="ceo-box">
        <div class="ceo">
            <div class="texts">
                <span class="bn-regular tiny">কামরুল একাডেমির প্রতিষ্ঠাতা ও সিইও মোঃ কামরুল হাসান যিনি এফএন্ডবি ইন্ডাস্ট্রিতে বিগত ১৫ বছর ধরে বিভিন্ন পদে কাজ করার পাশাপাশি তার উদ্যোক্তা যাত্রা অব্যাহত রেখেছেন। তিনি বিভিন্ন টেক স্টার্টআপের সফল উদ্যোক্তা। তিনি ফাইনান্স ডিপার্টমেন্ট থেকে বি বি এ সম্পন্ন করেছেন এবং তিনি সুইডেনের জঙ্কোপিং ইউনিভার্সিটি থেকে ইন্টারন্যাশনাল মার্কেটিং-এ মাস্টার্স করেছেন।</span>
                <span class="bn-bold small blue">মোঃ কামরুল হাসান</span>
                <span class="bn-regular tiny orange">প্রতিষ্ঠাতা এবং সিইও, কামরুল একাডেমী</span>
                <div class="links">
                    <a href=""><img src="{% static 'images/icons/Facebook.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'images/icons/Twitter.png' %}" alt="" width="53px" height="53px"></a>
                    <a href=""><img src="{% static 'images/icons/LinkedIn.png' %}" alt=""></a>
                </div>
            </div>
            <div class="image">
                <img src="{% static 'images/others/Kamrulvaia.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="about-team">
    <h2 style="text-align: center;padding: 0 0 30px 0;">আমাদের টিম</h2>
    <div class="container">
        <div class="teams">
            <div class="team">
                <img src="{% static 'images/others/hossain.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Hossain Rahman</span>
                </a>
                <span class="en-regular tiny">Manager</span>
            </div>
            <div class="team">
                <img src="{% static 'images/others/saklain.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Tanvir Saklan</span>
                </a>
                <span class="en-regular tiny">Technical</span>
            </div>
            <div class="team">
                <img src="{% static 'images/others/saiful.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Saiful Islam</span>
                </a>
                <span class="en-regular tiny">Advisor</span>
            </div>
            <div class="team">
                <img src="{% static 'images/others/20240221161416_IMG_1746_prev_ui 1.png' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Sourav Bishwas</span>
                </a>
                <span class="en-regular tiny">Advisor</span>
            </div>
        </div>
    </div>
</div>

<div class="about-team">
    <h2 style="text-align: center;padding: 0 0 30px 0;">আমাদের ইন্সট্রাক্টর</h2>
    <div class="container">
        <div class="teams">
            <div class="team">
                <img src="{% static 'images/others/rajat.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Rajat Sikder</span>
                </a>
                <span class="en-regular tiny">UX/UI</span>
            </div>
            <div class="team">
                <img src="{% static 'images/others/nesar.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Nesar Uddin</span>
                </a>
                <span class="en-regular tiny">Al-Kuran</span>
            </div>
            <div class="team">
                <img src="{% static 'images/others/naymul.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Nayeemul Islam</span>
                </a>
                <span class="en-regular tiny">Mobile Graphics</span>
            </div>
            <div class="team">
                <img src="{% static 'images/others/shawon.jpg' %}" alt="">
                <a href="">
                    <span class="en-bold tiny">Ahsanullah Shawon</span>
                </a>
                <span class="en-regular tiny">Video Editing</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}