<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main_web.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '929037048969033');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=929037048969033&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

    <title>{% block title %}
    {% endblock %}</title>
</head>
<body>
    {% include 'ka_main/navbar.html' %}

    {% block body %}
    {% endblock body %}

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="closePopUp()">&times;</span>
        <div id="popup-inner-content"></div>
      </div>
    </div>

    {% include 'ka_main/footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>