<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main_web.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '929037048969033');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=929037048969033&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

    <title>{% block title %}
    {% endblock %}</title>
</head>
<body>
    {% include 'ka_main/navbar.html' %}

    {% block body %}
    {% endblock body %}

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="closePopUp()">&times;</span>
        <div id="popup-inner-content"></div>
      </div>
    </div>

    {% include 'ka_main/footer.html' %}

    <script>
        //navbar js----------------

        let openHam = document.querySelector('#openHam');
        let closeHam = document.querySelector('#closeHam');
        let navigationItems = document.querySelector('#navigation-items');

        const hamburgerEvent = (navigation, close, open) => {
            navigationItems.style.display = navigation;
            closeHam.style.display = close;
            openHam.style.display = open;
        };

        openHam.addEventListener('click', () => hamburgerEvent("flex", "block", "none"));
        closeHam.addEventListener('click', () => hamburgerEvent("none", "none", "block"));


        //copy text ----------------

        // copy text ------------------


        function CopyLink(){
            navigator.clipboard.writeText(window.location.href);
            alert("Link Copied!");
        }


        //slider------------------------
        
        // slider ----------------------


        let carousel = document.querySelector(".carousel");
let btns = document.querySelectorAll(".wrapper i");
let carouselChildren = [...carousel.children];
let wrapper = document.querySelector(".wrapper");

//getting card width
let cardWidth = carousel.querySelector(".card").offsetWidth;
let isDragging = false,
  startX,
  startScrollLeft,
  isAutoPlay = true,
  timeoutId;

//getting number of cards can fit in carousel at once
let cardsPerView = Math.round(carousel.offsetWidth / cardWidth);

//inserting copied few last cards to beggining of carousel for infinite scrolling
carouselChildren
  .slice(-cardsPerView)
  .reverse()
  .forEach((card) => {
    carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
  });

//inserting copied few first cards to end of the carousel for infinite scrolling
carouselChildren.slice(0, cardsPerView).forEach((card) => {
  carousel.insertAdjacentHTML("beforeend", card.outerHTML);
});

btns.forEach((btn) => {
  btn.addEventListener("click", () => {
    //if the clicked button id is left scrolling carousel towards left by card width else towards right by card width
    carousel.scrollLeft += btn.id == "left" ? -cardWidth : cardWidth;
  });
});

let dragStart = (e) => {
  isDragging = true;

  carousel.classList.add("dragging");

  //recording initial cursor and scroll position
  startX = e.pageX;
  startScrollLeft = carousel.scrollLeft;
};

let dragging = (e) => {
  //returning here if the isDragging value is false
  if (!isDragging) return;

  //scrolling carousel according to mouse cursor
  carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
};

let dragStop = () => {
  isDragging = false;

  carousel.classList.remove("dragging");
};

let infiniteScroll = () => {
  //if the carousel is at begining, scroll to end
  //else carousel at end , scroll to beginning
  if (carousel.scrollLeft === 0) {
    carousel.classList.add("no-transition");
    carousel.scrollLeft = carousel.scrollWidth - 2 * carousel.offsetWidth;
    carousel.classList.remove("no-transition");
  } else if (
    Math.ceil(carousel.scrollLeft) ===
    carousel.scrollWidth - carousel.offsetWidth
  ) {
    carousel.classList.add("no-transition");
    carousel.scrollLeft = carousel.offsetWidth;
    carousel.classList.remove("no-transition");
  }

  //clearing timeout & starting auto play if the mouse is not hovering the carousel
  clearTimeout(timeoutId);
  if (!wrapper.matches(":hover")) autoPlay();
};

let autoPlay = () => {
  //if the device is not mobile or tab, enabling auto play
  if (window.innerWidth < 800 || !isAutoPlay) return; //returning if the device is not desktop & isAutoPlay is false

  //autoplaying the carousel after every 2500 ms
  timeoutId = setTimeout(() => {
    carousel.scrollLeft += cardWidth;
  }, 2500);
};

autoPlay();

carousel.addEventListener("mousedown", dragStart);
carousel.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
carousel.addEventListener("scroll", infiniteScroll);

//auto play will be active only when there is no hover on carousel
wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
wrapper.addEventListener("mouseleave", autoPlay);



// ------------------------- pop up function ---------

// ------------------------- pop up function ---------


function PopUp() {
    document.getElementById('popup').style.display = 'block';
}

function closePopUp() {
    document.getElementById('popup').style.display = 'none';
}


window.onclick = function(event) {
    var modal = document.getElementById('popup');
    if (event.target == modal) {
      modal.style.display = 'none';
    }
}

    </script>

</body>
</html>