{% extends 'ka_main/base.html' %}
{% load static %}

{% block title %}
Checkout
{% endblock %}

{% block body %}

    <div class="container">
        {{ message }}
        <div class="checkout">
            <div class="product">
                <span class="bn-bold small">অর্ডার আইডি : {{ id }}</span>
                <div>
                    <span class="bn-regular small">{{ title }}</span>
                    <span class="bn-regular small">&#2547; {{ amount }}</span>
                </div>
                <hr>
                <div>
                    <span class="bn-regular small">মোট</span>
                    <span class="bn-regular small">&#2547; {{ amount }} BDT</span>
                </div>
            </div>
            <div class="payment">
                <span class="bn-bold small">পেমেন্ট মেথড সিলেক্ট করুন</span>
                <form action="{% url 'checkout' pk=id %}" method="POST">
                    {% csrf_token %}
                    <input type="radio" name="payment" id="inputfield 1" class="inputfieldd" value="bkash" placeholder="বিকাশ">
                    <label for="1">বিকাশ</label>
                    <input type="radio" name="payment" id="inputfield 2" class="inputfieldd" value="others" placeholder="অন্যান্য">
                    <label for="2">অন্যান্য</label>
                    <input type="submit" value="এগিয়ে যান" id="inputfield" class="inputfield btn">
                </form>
            </div>
        </div>
    </div>

{% endblock %}