{% extends 'ka_main/dashboard.html' %}
{% load static %}

{% block title %}
Dashboard - Transactions
{% endblock title %}

{% block body %}

<div class="dashboard-block">

    <table class="custom-table">
        <thead>
            <tr>
                <th>কোর্স</th>
                <th>সময়</th>
                <th>পেমেন্টের মাধ্যম</th>
                <th>স্ট্যাটাস</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in alltrans %}
            <tr>
                <td>{{ trans.title }}</td>
                <td>{{ trans.issuetime }}</td>
                <td>{{ trans.way }}</td>
                <td>{% if trans.status %}Approved{% else %}Waiting...{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}