{% extends 'ka_main/dashboard.html' %}
{% load static %}

{% block title %}
Dashboard - Certificate
{% endblock title %}

{% block body %}

<div class="dashboard-block">
{% if yes %}
    <div class="enrolled" style="align-items: flex-start;">
        {% for certificate in certificates %}
        <div class="certificate">
            <div class="poster">
                <img src="{{ certificate.banner.url }}" alt="">
            </div>
            <div class="details">
                <span class="bn-bold tiny">{{ certificate.title }}</span>
                <div class="issue-date">
                    <span class="en-regular extra-tiny">This certificate was issued on {{ certificate.issuedate }}</span>
                    <img src="{% static 'images/icons/green-tick.png' %}" alt="">
                </div>
                <div class="download">
                    <a href="{{ certificate.zippednotes.url }}">
                        <span class="bn-bold extra-tiny orange">DOWNLOAD RESOURCE &#10515;</span>
                    </a>
                    <a href="{{ certificate.certificate.url }}">
                        <span class="bn-bold extra-tiny white">DOWNLOAD CERTIFICATE &#10515;</span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="not-enrolled" style="display: none;">
        <img src="{% static 'images/icons/tv.png' %}" alt="">
        <span class="bn-bold tiny orange">আপনি এখনো কোনো কোর্স কমপ্লিট করেন নাই।</span>
        <a href="{% url 'livecourses' %}"><span class="en-bold tiny">Explore Courses &#8594;</span></a>
    </div>
{% endif %}
    <div class="help">
        <div class="images">
            <div class="image">
                <img src="{% static 'images/icons/customer-service.png' %}" alt="">
            </div>
            <div>
                <span class="bn-regular small orange">হেল্প লাগবে?</span>
                <span class="bn-regular tiny">যেকোনো টেকনিক্যাল সমস্যাতে কল করুন <span class="orange">(সকাল ১২টা থেকে রাত ১২টা)</span></span>
            </div>
        </div>
        <div class="phone">
            <span class="bn-regular tiny">কল করুন</span>
            <span class="text">
                <img src="{% static 'images/icons/call-discolor.png' %}" alt="">
                <span class="en-bold tiny">01323314826</span>
            </span>
        </div>
    </div>

</div>
{% endblock %}