{% extends 'ka_main/base.html' %}
{% load static %}

{% block title %}
Privacy
{% endblock title %}

{% block body %}
<div class="container">
    <p class="en-bold small" style="padding: 30px;font-family: 'EnglishMedium',sans-serif;margin-bottom: 20px;">At Kamrul Academy, we strive to provide high-quality educational experiences that empower learners. We understand that sometimes unforeseen circumstances may arise, and you may need to request a refund for a course you have purchased. This policy outlines the conditions under which refunds are available.
        Welcome to Kamrul Academy! We are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, and disclose information from and about you when you use our website (the "Website") and our online courses (the "Courses").
Information We Collect:
•	Limited Data: We collect a minimal amount of personal information to provide a smooth learning experience. This includes:
o	Phone number (used for account verification)
o	Email address (optional)
o	We do not collect any other personal information such as address, or date of birth.
Use of Information:
•	Account Management: We use your phone number for account verification and log in purposes. Your email address (if provided) may be used for sending important information about your Courses, such as registration confirmation or updates.
•	Course Delivery: Course content is readily available for download upon enrollment. We do not store any user activity within the Courses.
Information We Do Not Collect:
•	We do not record your screen activity or track your progress within the Courses.
•	We do not collect any personal information beyond your name, phone number and email address (if provided).
Information Sharing and Disclosure:
•	We will not share your personal information with any third party for marketing or advertising purposes.
•	We may use third-party services like Facebook Live, Google Meet, or Zoom for live class sessions. These platforms may have their own privacy policies, which we encourage you to review.
•	We may disclose your information if required by law or to protect the rights and safety of ourselves or others.
Security:
We take reasonable steps to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no internet transmission or electronic storage is completely secure. Therefore, we cannot guarantee the absolute security of your information.
User Accounts:
•	Currently, you cannot delete your user account. However, you can edit your phone number and email address (if provided) through your account dashboard.
Course Materials and Certificates:
•	Course resources are provided as downloadable zip files after enrollment. These downloads are available for the duration of your course access.
•	Certificates of completion are issued as one-time downloads upon successful course completion. You can request a re-issuance of a lost certificate.
Changes to Privacy Policy:
We may update this Privacy Policy from time to time. We will post any changes on the Website. Your continued use of the Website after any changes are posted constitutes your acceptance of the revised Privacy Policy.
Contact Us:
If you have any questions about this Privacy Policy, please contact us at kamrulacademyofficial@gmail.com or +8801323314826.
By using the Website and Courses, you agree to the terms of this Privacy Policy.

    </p></div>
{% endblock %}