{% extends 'ka_main/base.html' %}
{% load static %}

{% block title %}
Refund Policy
{% endblock title %}

{% block body %}
<div class="container">
<p class="en-bold small" style="padding: 30px;font-family: 'EnglishMedium',sans-serif;margin-bottom: 20px;">At Kamrul Academy, we strive to provide high-quality educational experiences that empower learners. We understand that sometimes unforeseen circumstances may arise, and you may need to request a refund for a course you have purchased. This policy outlines the conditions under which refunds are available.
Eligibility for Refunds:
•	You are eligible for a full refund within 36 hours of purchasing a course.
•	After 36 hours, refunds are generally not available. However, we may consider exceptional circumstances on a case-by-case basis. Please contact us if you have a situation requiring a special review.
Reasons for Refund Ineligibility:
•	Downloaded Course Materials: If you have downloaded any course materials, including lectures, notes, assignments, or other resources, you will not be eligible for a refund.
•	Recorded Course Videos: Recording any course video content is strictly prohibited. If we detect recordings associated with your account, your refund request will be denied.
Refund Process:
•	To request a refund, please contact our support team at kamrulacademyofficial@gmail.com within the eligible timeframe.
•	In your request, please specify the course title and your reason for requesting a refund.
•	Once we receive your request, we will review it and respond within 2 business days.
•	If your request is approved, the refund will be processed using the original payment method within 2 business days.
Please Note:
•	Processing times for refunds may vary depending on your financial institution.
•	We reserve the right to deny refund requests that violate our Terms and Conditions or if we suspect fraudulent activity.
We encourage you to carefully review the course description and content before purchasing to ensure it meets your expectations.
If you have any questions about this Refund Policy, please do not hesitate to contact us.</p></div>

{% endblock %}