{% extends 'ka_main/base.html' %}
{% load static %}
{% block title %}
    Sign In
{% endblock %}

{% block body %}
<div class="container">
    {% if error %}
    <p class="en-bold" style="text-align: center;">{{ error }}</p>
    {% endif %}
    <div class="login-container">
        <div class="login-box">
            <div class="images">
                <img src="{% static 'images/others/loginpageanimate.png' %}" alt="">
                <span class="bn-regular tiny" style="text-align: center; color: var(--dark-color);">লাইভ ক্লাসে অংশ নিয়ে বজায় রাখুন রুটিনমাফিক ডেভেলপমেন্ট</span>
            </div>
            <div class="credentials">
                <span class="bn-bold tiny">মোবাইল নাম্বার দিয়ে এগিয়ে যান</span>
                <form action="{% url 'sign-up' %}" method="POST">
                    {% csrf_token %}

                    <input type="tel" id="inputfield" class="inputfield" placeholder="মোবাইল নাম্বার" pattern="[0-9]{11}" title="Please enter 11 digits" required name="phone">
                    <input type="submit" value="সাইন ইন" id="inputfield" class="inputfield btn">

                </form>
                <span class="bn-regular tiny">কল করুন: 01323314826</span>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}