{% extends 'ka_main/mobile/base.html' %}
{% load static %}

{% block title %}
{{ mentor.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <div style="display: flex;flex-direction: column;margin-top: 150px;align-items: center;">
            <img src="{{ mentor.pp.url }}" width="200px" height="300px"  alt="">
            <h2>{{ mentor.name }}</h2>
            <h5 style="padding: 10px;background-color: rgba(0,139,252,0.3);border: none;border-radius: 5px;">{{ mentor.expertise }}</h5>
        </div>
    </div>
{% endblock %}a