{% extends 'ka_main/mobile/base.html' %}
{% load static %}
{% block title %}{{ instance.title }}{% endblock %}
{% block body %}
<div class="container">
    <h3 style="text-align: center; margin-top: 180px;">{{ instance.title }}</h3>
    <p class="bn-regular tiny" style="text-align: center;">{{ instance.preface }}</p>
    <div style="text-align: center;">
        <span class="en-regular" style="text-align: center;background-color: bisque;padding: 10px; border: none;border-radius: 4px;"><span class="en-bold" style="color: var(--primary-color);">&#9733 {{ instance.rating }}</span> ({{ instance.rating_counts }} Ratings)</span>
    </div>
    <div style="text-align: center;margin-top: 30px;">
        <img src="{{ instance.banner.url }}" alt="" style="border: none;border-radius: 30px;" width="320px" height="180px">
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <span class="bn-regular tiny" style="text-align: center;background-color: rgba(0,139,252,0.3);padding: 10px; border: none;border-radius: 4px; margin-right: 10px;">{{ instance.seat_remaining }} সিট বাকি</span>
        <span class="bn-regular tiny" style="text-align: center;background-color: rgba(255,94,39,0.3);padding: 10px; border: none;border-radius: 4px;margin-left: 10px;">{{ instance.days_remaining }} দিন বাকি</span>
    </div>
    <div style="margin-top: 30px;">
        <h2 style="text-align: center;">কারিকুলাম</h2>
        <div style="text-align: center;">
            <span class="bn-regular tiny" style="margin: 10px;">{{ instance.modules_count }}  মডিউল</span>
            <span style="margin: 10px;">|</span>
            <span class="bn-regular tiny" style="margin: 10px;">{{ instance.classes_count }}  লাইভ ক্লাস</span><br>
            <span class="bn-regular tiny" style="margin: 10px;">{{ instance.exam_count }}  এক্সাম</span>
            <span style="margin: 10px;">|</span>
            <span class="bn-regular tiny" style="margin: 10px;">{{ instance.project_count }}  প্রজেক্ট</span>
        </div>
        <div style="display: grid;grid-template-columns: 300px;grid-row-gap: 30px;margin-top: 30px;">
            {% for curriculum in curriculums %}
            <div style="background-color: var(--light-color);border: rgba(0,0,0,0.3);border-radius: 10px;box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);display: flex;flex-direction: row;align-items: center;">
                <span style="background-color: rgba(0,139,252,0.3);padding: 20px; border: none;border-radius: 5px;text-align: center;" class="en-bold tiny">{{ curriculum.week_name }}</span>
                <span style="margin-left: 10px;"><span class="en-bold tiny">{{ curriculum.title }}</span><br><span class="en-regular extra-tiny">{{ curriculum.classes_count }} classes</span></span>
            </div>
            {% endfor %}
        </div>
        <p class="bn-regular tiny">{{ instance.description|safe }}</p>
        <div style="display: flex;justify-content: center;">
            <div style="text-align:center; margin-top: 70px;width: 80%;height: 70px;background-color: var(--light-color);border:0.5px solid rgba(0,0,0,0.1);border-radius: 30px;display: flex;flex-direction: row;align-items: center;justify-content: center;">
                <span class="en-bold small" style="padding: 5px;">Call us</span>
                <span><a href="tel:+8801590038009" style="text-decoration: none;padding: 10px;background-color: rgba(255,94,39,0.3);margin-left: 5px;border: none;border-radius: 5px;">+880-1590-038009</a></span>
            </div>
        </div>
        <div style="display: flex;justify-content: center;flex-direction: column;">
            <h2 style="text-align: center;">ইন্সট্রাক্টর</h2>  
            <a href="{% url 'mentor' pk=instance.mentorId %}" class="bn-bold tiny" style="text-align: center;padding: 20px;background-color: var(--light-color);margin-top: 10px;border: rgba(0,0,0,0.1) 1px solid;border-radius: 5px;text-decoration: none;color: var(--dark-color);">{{ mentor.name }}</a>
        </div>
        <div style="display: flex;justify-content: center;">
            <a href="{% url 'enroll' pk=instance.courseId %}" style="text-decoration: none;text-align: center;padding: 15px;background-color: var(--primary-color);border: none;border-radius: 5px;margin-top: 30px;margin-bottom: 30px;color: var(--light-color);" class="en-bold tiny">Enroll now</a>
        </div>
    </div>
</div>
{% endblock %}