{% extends 'ka_main/web/base.html' %}
{% load static %}

{% block title %}
About Us!
{% endblock title %}

{% block body %}
    <div class="container" style="margin-top: 200px;">
        <div class="ceo">
            <div class="ceop">
                <img src="{% static 'images/others/kamrul.jpg' %}" alt="" width="200px" height="300px" style="border: none;border-radius: 30px;">
                <p class="en-bold ceoname">Md Kamrul Hasan</p>
                <p class="en-bold ceoname2">Founder & CEO</p>
            </div>
            <div class="ceom">
                <h3 style="text-align: center;">Our Mission</h3>
                <p class="en-regular">
                    Empowering individuals through accessible and engaging online education, fostering diverse knowledge and skill development for a thriving global community.
Democratizing access to quality education by offering both academic and practical skills, enabling individuals to reach their full potential.
Cultivating a world-class learning environment with expert instructors, fostering knowledge creation, and nurturing the next generation of highly skilled professionals.
                </p>
            </div>
            <div class="ceov">
                <h3 style="text-align: center;">Our Vision</h3>
                <p class="en-regular">
                    To be the world's leading online education platform, recognized for its commitment to excellence, innovation, and inclusivity, shaping a future where everyone has the tools to succeed.
Create a global network of empowered individuals equipped with diverse knowledge and skills, ready to contribute meaningfully to a brighter, interconnected world.
Reimagine education as a lifelong journey of exploration and growth, fueled by passion, accessibility, and the pursuit of mastery in any chosen field.
                </p>
            </div>
        </div>
        <div class="team">
            <h1 style="text-align: center; color: var(--light-color);padding-top: 300px;padding-bottom: 300px;">OUR TEAM</h1>
        </div>
        <h1 style="text-align: center;">Employees</h1>
        <div class="persons">
            <div class="person">
                <img src="{% static 'images/others/hossain.jpg' %}" alt="" width="200px" height="300px">
                <p class="en-bold ceoname">Hossain Rahman</p>
                <p class="en-bold ceoname2">Chief Operating Officer</p>
            </div>
            <div class="person">
                <p class="en-bold ceoname">Tanvir Saklan</p>
                <p class="en-bold ceoname2">Chief Technical Officer</p>
                <img src="{% static 'images/others/sample.JPG' %}" alt="" width="200px" height="300px">
            </div>
            <div class="person">
                <img src="{% static 'images/others/saiful.png' %}" alt="" width="200px" height="300px">
                <p class="en-bold ceoname">Saiful Islam</p>
                <p class="en-bold ceoname2">Advisor</p>
            </div>
        </div>
        <h1 style="text-align: center;">Graphics Team</h1>
        <div class="persons">
            <div class="person">
                <img src="{% static 'images/others/shaon.jpg' %}" alt="" width="200px" height="300px">
                <p class="en-bold ceoname">Ahsanullah Shawon</p>
                <p class="en-bold ceoname2">Video Editor</p>
            </div>
            <div class="person">
                <p class="en-bold ceoname">Nayeemul Islam</p>
                <p class="en-bold ceoname2">Mobile Graphics Designer</p>
                <img src="{% static 'images/others/nayeem.jpg' %}" alt="" width="200px" height="300px">
            </div>
            <div class="person">
                <img src="{% static 'images/others/rajat.jpg' %}" alt="" width="200px" height="300px">
                <p class="en-bold ceoname">Rajat</p>
                <p class="en-bold ceoname2">UX/UI Designer</p>
            </div>
        </div>
        <h1 style="text-align: center;">Teachers</h1>
        <div class="persons">
            <div class="person">
                <img src="{% static 'images/others/nesar.jpg' %}" alt="" width="200px" height="300px">
                <p class="en-bold ceoname">Nesar Uddin</p>
                <p class="en-bold ceoname2">Teacher</p>
            </div>
            <div class="person">
                <p class="en-bold ceoname">Saiful Islam</p>
                <p class="en-bold ceoname2">Teacher</p>
                <img src="{% static 'images/others/saiful.png' %}" alt="" width="200px" height="300px">
            </div>
            <div class="person">
                <img src="{% static 'images/others/sourav.png' %}" alt="" width="200px" height="300px">
                <p class="en-bold ceoname">Sourav Biswash</p>
                <p class="en-bold ceoname2">Teacher</p>
            </div>
            <div class="person">
                <p class="en-bold ceoname">Tanvir Saklan</p>
                <p class="en-bold ceoname2">Teacher</p>
                <img src="{% static 'images/others/sample.JPG' %}" alt="" width="200px" height="300px">
            </div>
        </div>
    </div>


    <style>
        .ceo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        @media screen and (max-width:1300px){
            .ceo{
                display:flex;
                flex-direction: column;
                align-items: center;
            }
            .ceom{
                margin-top: 30px;
            }
            .ceov{
                margin-top: 30px;
            }
        }
        .ceom{
            max-width: 350px;
            background-color: #ffffff;
            padding: 30px;
            border: none;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .ceov{
            max-width: 350px;
            background-color: #ffffff;
            padding: 30px;
            border: none;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .ceoname{
            font-size: 20px;
        }
        .ceoname2{
            font-size: 15px;
        }
        .persons{
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .person{
            margin: 50px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .person img {
            border: none;
            border-radius: 30px;
            box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
        }
    </style>
{% endblock %}