{% extends 'ka_main/web/base.html' %}
{% load static %}

{% block title %}
{{ blog.title }}
{% endblock %}

{% block body %}

    <h1 class="bn-bold medium" style="text-align: center;margin-top: 170px;">{{ blog.title }}</h1>
    <div class="container">
        <p class="en-regular medium" style="text-align: center;padding: 5px;">Date created : {{ blog.created }}</p>
        <p class="en-regular medium" style="text-align: center;padding: 5px;">Date updated : {{ blog.updated }}</p>
        <p class="en-regular medium" style="text-align: center;padding: 5px;">Author : {{ blog.mod_name }}</p>
        <p class="bn-regular" style="margin-top: 10px;">{{ blog.desc|safe }}</p>
        <div style="display: flex;flex-direction: row;justify-content: space-evenly;padding-top: 20px;">
            <div style="display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;">
                <span>
                    {% if user.is_authenticated %}
                    {% if liked %}
                    <img src="{% static 'images/icons/Like filled blue.png' %}" alt="">
                    {% else %}
                    <form action="{% url 'like' pk=blog.blog_id %}" method="POST">
                    {% csrf_token %}
                        <button type="submit" style="border: none;padding: 0;margin: 0;background: none;cursor: pointer;">
                            <img src="{% static 'images/icons/Like blue.png' %}" alt="">
                        </button>
                    </form>
                    {% endif %}
                    {% endif %}
                </span>
                <span class="en-bold small" id="likecount" style="margin-left: 20px;">{{ blog.likes }} likes</span>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;">
                <span>
                    {% if user.is_authenticated %}
                    {% if disliked %}
                    <img src="{% static 'images/icons/Dislike filled blue.png' %}" alt="">
                    {% else %}
                    <form action="{% url 'dislike' pk=blog.blog_id %}" method="POST">
                    {% csrf_token %}
                        <button type="submit" style="border: none;padding: 0;margin: 0;background: none;cursor: pointer;">
                            <img src="{% static 'images/icons/Dislike blue.png' %}" alt="">
                        </button>
                    </form>
                    {% endif %}
                    {% endif %}
                </span>
                <span class="en-bold small" id="dislikecount" style="margin-left: 20px;">{{ blog.dislikes }} dislikes</span>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div style="display: flex; flex-direction: column;padding: 20px 0px;">
            <form action="{% url 'blog' pk=blog.blog_id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="body" class="inputField" placeholder="Leave an impression">
                <button type="submit" class="inputField inputbutton">Post</button>
            </form>
        </div>
        {% endif %}
        <div style="display: flex; flex-direction: column;padding: 20px 0px;">
            <span class="en-bold standard">Comments</span>
            {% for comment in comments %}
            <span class="en-bold" style="padding-top: 10px;">{{ comment.user_id }} ( at {{ comment.created }} )</span>
            <p class="bn-regular">{{ comment.body }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}