{% extends 'ka_main/web/base.html' %}
{% load static %}

{% block title %}
All books
{% endblock %}

{% block body %}

    <h1 style="text-align: center;margin-top: 150px;">Our Books</h1>
    <div class="container courses">
        {% for book in books %}
        <div class="course">
            <img src="{{ book.book_image.url }}" alt="">
            <div class="text">
                <div class="title bn-bold">{{ book.name }}</div>
                <div class="data">
                    <div class="dataa en-bold">Downloaded : {{ book.downloads }}<br>Price : {{ book.price }}</div>
                    <a href="{% url 'book' pk=book.book_id %}" class="en-bold small">Buy</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}