{% extends 'ka_main/web/base.html' %}
{% load static %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="bn-bold medium" style="text-align: center;margin-top: 200px;">{{ course.title }}</h1>
    {% if purchased %}
    <div style="display: flex;justify-content: space-around;">
        <video src="{{ course.course_video.url }}" width="70%" height="auto" controls></video>
    </div>
    <div style="display: flex;justify-content: space-around;margin-top: 20px;">
    <a href="{{ course.course_notes.url }}" download="{{ course.title }}.pdf" class="en-bold" style="text-decoration: none;text-align:center;color: var(--light-color);background-color: var(--primary-color);border: none;border-radius: 10px;padding: 18px;">Notes</a>
    </div>
    {% else %}
    <div style="display: flex;justify-content: space-around;">
        <video src="{{ course.course_promo_video.url }}" width="70%" height="auto" controls></video>
    </div>
    <div style="display: flex;justify-content: space-around; margin-top: 20px;">
    <a href="{% url 'checkout' pk=course.course_id %}" class="en-bold" style="text-decoration: none;text-align:center;color: var(--light-color);background-color: var(--primary-color);border: none;border-radius: 10px;padding: 18px;">Enroll Now</a>
    </div>
    {% endif %}
    <div>
        <p style="padding: 20px 0px;">
            {{ course.desc|safe }}
        </p>
    </div>
    <div style="display: flex; flex-direction: column;padding: 20px 0px;">
        <span style="padding: 10px 0px;">Teacher : {{ course.mentor_name }}</span>
        <span style="padding: 10px 0px;">Created : {{ course.created }}</span>
        <span style="padding: 10px 0px;">Updated : {{ course.updated }}</span>
    </div>
    <div style="display: flex; flex-direction: row;padding: 20px 0px;">
        <span style="padding-left: 10px;">{{ course.likes }} Likes</span>
        <span style="padding: 0px 10px;">{{ course.dislikes }} Dislikes</span>
        <span style="padding: 0px 10px;">{{ course.comment_count }} Impressions</span>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: space-evenly;padding-top: 20px;">
    <div style="display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;">
        <span>
            {% if user.is_authenticated %}
            {% if liked %}
            <img src="{% static 'images/icons/Like filled blue.png' %}" alt="">
            {% else %}
            <form action="{% url 'courselike' pk=course.course_id %}" method="POST">
            {% csrf_token %}
                <button type="submit" style="border: none;padding: 0;margin: 0;background: none;cursor: pointer;">
                    <img src="{% static 'images/icons/Like blue.png' %}" alt="">
                </button>
            </form>
            {% endif %}
            {% endif %}
        </span>
        <span class="en-bold small" id="likecount" style="margin-left: 20px;">{{ course.likes }} likes</span>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: space-evenly;align-items: center;">
        <span>
            {% if user.is_authenticated %}
            {% if disliked %}
            <img src="{% static 'images/icons/Dislike filled blue.png' %}" alt="">
            {% else %}
            <form action="{% url 'coursedislike' pk=course.course_id %}" method="POST">
            {% csrf_token %}
                <button type="submit" style="border: none;padding: 0;margin: 0;background: none;cursor: pointer;">
                    <img src="{% static 'images/icons/Dislike blue.png' %}" alt="">
                </button>
            </form>
            {% endif %}
            {% endif %}
        </span>
        <span class="en-bold small" id="dislikecount" style="margin-left: 20px;">{{ course.dislikes }} dislikes</span>
    </div>
    </div>
    {% if user.is_authenticated %}
    <div style="display: flex; flex-direction: column;padding: 20px 0px;">
        <form action="{% url 'course' pk=course.course_id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="body" class="inputField" placeholder="Leave an impression">
            <button type="submit" class="inputField inputbutton">Post</button>
        </form>
    </div>
    {% endif %}
    <div style="display: flex; flex-direction: column;padding: 20px 0px;">
        {% for comment in comments %}
        <span class="en-bold" style="padding-top: 10px;">{{ comment.user_id }} ( at {{ comment.created }} )</span>
        <p class="bn-regular">{{ comment.body }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}