{% extends 'ka_main/web/base.html' %}
{% load static %}

{% block title %}
All courses
{% endblock %}

{% block body %}

{% if top_courses %}    
    <h1 style="text-align: center;margin-top: 150px;">Our Top courses</h1>
    <div class="container courses">
        {% for course in top_courses %}
        <div class="course">
            <img src="{{ course.thumbnail.url }}" alt="">
            <div class="text">
                <div class="title bn-bold">{{ course.title }}</div>
                <div class="bn-regular">{{ course.preface|safe }}</div>
                <div class="data">
                    <div class="dataa bn-light">Duration : {{ course.duration }} mins <br>Enrolled : {{ course.enrolled }}</div>
                    <a href="{% url 'course' pk=course.course_id %}" class="en-bold small">Get</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

<h1 style="text-align: center;margin-top: 60px;">Our courses</h1>
<div class="container courses">
    {% for course in courses %}
    <div class="course">
        <img src="{{ course.thumbnail.url }}" alt="">
        <div class="text">
            <div class="title bn-bold">{{ course.title }}</div>
            <div class="bn-regular">{{ course.preface|safe }}</div>
            <div class="data">
                <div class="dataa bn-light">Duration : {{ course.duration }} mins <br>Enrolled : {{ course.enrolled }}</div>
                <a href="{% url 'course' pk=course.course_id %}" class="en-bold small">Get</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}