{% extends 'ka_main/web/base.html' %}
{% load static %}

{% block title %}
Course Enrollment
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="standard" style="margin-top: 150px;text-align: center;">Enroll for the course<br>"{{ instance.title }}"</h1>
    <form action="{% url 'enroll' pk=instance.courseId %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email" class="inputField">
        <input type="tel" name="phone" class="inputField" placeholder="Enter your phone number">
        <button type="submit" class="inputField inputbutton">Enroll</button>
    </form>
</div>
{% endblock %}