{% load static %}

<footer class="app-bg">
    <hr>
    <div class="container footer-container">
        <div class="list">
            <span class="bn-light"><a href="{% url 'career' %}" target="_blank">ক্যারিয়ার</a></span><br>
            <span class="bn-light"><a href="{% url 'mentor-join' %}" target="_blank">শিক্ষক হিসেবে জয়েন</a></span><br>
            <span class="bn-light"><a href="{% url 'affiliate-join' %}" target="_blank">এফিলিয়েট হতে চাইলে</a></span><br>
            <span class="bn-light"><a href="{% url 'privacy' %}" target="_blank">প্রাইভেসি পলিসি</a></span><br>
            <span class="bn-light"><a href="{% url 'refund-policy' %}" target="_blank">রিফান্ড পলিসি</a></span><br>
            <span class="bn-light"><a href="{% url 'terms-and-conditions' %}" target="_blank">ব্যবহারকারীর শর্তাবলী</a></span><br>
        </div>
        <div class="list">
            <span class="bn-light"><a href="{% url 'blogs' %}" target="_blank">ব্লগ</a></span><br>
            <span class="bn-light"><a href="{% url 'books' %}" target="_blank">বুক স্টোর</a></span><br>
            <span class="bn-light"><a href="{% url 'courses' %}" target="_blank">নোটস ও গাইডস</a></span><br>
            <span class="bn-light"><a href="{% url 'offers' %}" target="_blank">অফার সমূহ</a></span><br>
            <span class="bn-light"><a href="{% url 'certificates' %}" target="_blank">ভেরিফাই সার্টিফিকেট</a></span><br>
            <span class="bn-light"><a href="{% url 'courses' %}" target="_blank">ফ্রি ডাউনলোড</a></span><br>
        </div>
        <div class="contacts">
            <div class="social-media">
                <a href="https://www.facebook.com/people/Kamrul-Academy/100090648279409/" target="_blank"><img src="{% static 'images/icons/facebook.jpg' %}" alt=""></a>
                <a href="https://www.instagram.com/kamrulacademy?igsh=Z3E4djE2OXhpN2M=" target="_blank"><img src="{% static 'images/icons/instagram.jpg' %}" alt=""></a>
                <a href="https://www.linkedin.com/in/kamrul-academy-a05475276/" target="_blank"><img src="{% static 'images/icons/linkedin.jpg' %}" alt=""></a>
                <a href="https://m.youtube.com/@KamrulAcademy-do9vq" target="_blank"><img src="{% static 'images/icons/youtube.jpg' %}" alt=""></a>
                <a href="https://www.tiktok.com/@kamrulacademy_23?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{% static 'images/icons/tiktok.png' %}" alt=""></a>
                <a href="https://t.me/kamrulacademy" target="_blank"><img src="{% static 'images/icons/telegram.png' %}" alt=""></a>
            </div>
            <div class="phone-no"><span class="en-regular">Call us : <a href="">+8801590038009</a></span></div>
            <div class="email">
                <span class="en-regular">Email us : <a href="">kamrulacademyofficial@gmail.com</a></span>
            </div>
        </div>
    </div>
</footer>