{% load static %}
<nav class="app-bg">
    <div class="container navitems">
        <img src="{% static 'images/icons/LogoPngFullBlack.png' %}" alt="">
        <div class="navlinks dark-bg">
            <span class="bn-bold tiny"><a href="{% url 'courses' %}">কোর্সসমূহ</a></span>
            <span class="bn-bold tiny"><a href="{% url 'books' %}">বই কিনুন</a></span>
            <span class="bn-bold tiny"><a href="{% url 'about' %}">আমাদের সম্পর্কে</a></span>
            <span class="bn-bold tiny"><a href="{% url 'blogs' %}">ব্লগসমূহ</a></span>
        </div>
        {% if not user.is_authenticated %}
        <div class="navlinks primary-bg">
            <span class="en-bold tiny"><a href="{% url 'log-in' %}">Log In / Sign Up</a></span>
        </div>
        {% else %}
        <div class="navlinks primary-bg">
            <span class="en-bold tiny"><a href="{% url 'dashboard' pk=user.username %}">Dashboard</a></span>
        </div>
        <div class="navlinks primary-bg">
            <span class="en-bold tiny"><a href="{% url 'log-out' %}">Log Out</a></span>
        </div>
        {% endif %}
    </div>
</nav>