{% extends 'ka_main/web/base.html' %}
{% load static %}
{% block title %}
    Sign In
{% endblock %}

{% block body %}
    <div class="container login">
        <h1 class="en-bold medium" style="text-align: center;">Sign In Here!</h1>
        <div>
            <p style="text-align: center;" class="en-bold">Already a member? <a href="{% url 'log-in' %}">Log In</a> here...</p>
        </div>
        {% if error %}<p class="en-regular" style="text-align: center;">{{ error }}</p>{% endif %}
        <form action="{% url 'sign-in' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="fullname" placeholder="Enter your username" class="inputField" required>
            <input type="email" name="email" placeholder="Enter your email" class="inputField" required>
            <input type="tel" name="phone" class="inputField" placeholder="Enter your mobile number" required>
            <input type="password" name="password1" class="inputField" placeholder="Enter your password"required>
            <input type="password" name="password2" class="inputField" placeholder="Re-enter your password" required>
            <button type="submit" class="inputField inputbutton">Sign In</button>
        </form>
    </div>
{% endblock %}